Here’s what you’ll get to analyze:

• Patient Demographics: Including gender, age, and race.

• ER Operations: Wait times, admission flags, and department referrals.

• Satisfaction Metrics: Ratings from patients reflecting their experience.

This dataset is rich with possibilities for exploratory analysis, hypothesis testing, and visualization.

Why Should You Take on This Challenge?

This project will enhance your ability to:

1. Spot Trends: Examine patterns in wait times and satisfaction scores.

2. Correlate Factors: Discover relationships between demographics, department referrals, and admission rates.

3. Sharpen Your Tools: Practice with Excel, Python, SQL, or any tool of your choice.

4. Boost Communication: Present actionable insights through clear visualizations and summaries.

How to Get Started

1. Download the Dataset: Click here to request a copy.

2. Load the data into your preferred analysis tool.

3. Ask and answer questions like:

• How do wait times vary by department and age group?

• Are patients with higher wait times less likely to report satisfaction?

• Which demographic is most frequently referred to specific departments?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df =pd.read_csv("Hospital_Data.csv")

In [3]:
df.head()

,Patient Id,Patient Admission Date,Patient First Inital,Patient Last Name,Patient Gender,Patient Age,Patient Race,Department Referral,Patient Admission Flag,Patient Satisfaction Score,Patient Waittime,Patients CM
0,145-39-5406,20-03-2024 08:47,H,Glasspool,M,69,White,NaN,False,10.0,39,0
1,316-34-3057,15-06-2024 11:29,X,Methuen,M,4,Native American/Alaska Native,NaN,True,NaN,27,0
2,897-46-3852,20-06-2024 09:13,P,Schubuser,F,56,African American,General Practice,True,9.0,55,0
3,358-31-9711,04-02-2024 22:34,U,Titcombe,F,24,Native American/Alaska Native,General Practice,True,8.0,31,0
4,289-26-0537,04-09-2024 17:48,Y,Gionettitti,M,5,African American,Orthopedics,False,NaN,10,0

In [9]:
df.columns=[
    "Id",
    "Admission date",
    "First intial name",
    "Last name",
    "Gender",
    "Age",
    "Race",
    "Department referral",
    "Admission flag",
    "Satisfaction score",
    "Waiting time",
    "Patient CM"
]

In [10]:
df.head()

,Id,Admission date,First intial name,Last name,Gender,Age,Race,Department referral,Admission flag,Satisfaction score,Waiting time,Patient CM
0,145-39-5406,20-03-2024 08:47,H,Glasspool,M,69,White,NaN,False,10.0,39,0
1,316-34-3057,15-06-2024 11:29,X,Methuen,M,4,Native American/Alaska Native,NaN,True,NaN,27,0
2,897-46-3852,20-06-2024 09:13,P,Schubuser,F,56,African American,General Practice,True,9.0,55,0
3,358-31-9711,04-02-2024 22:34,U,Titcombe,F,24,Native American/Alaska Native,General Practice,True,8.0,31,0
4,289-26-0537,04-09-2024 17:48,Y,Gionettitti,M,5,African American,Orthopedics,False,NaN,10,0

In [11]:
df.isna().sum()

Id                        0
Admission date            0
First intial name         0
Last name                 0
Gender                    0
Age                       0
Race                      0
Department referral    5400
Admission flag            0
Satisfaction score     6699
Waiting time              0
Patient CM                0
dtype: int64